<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SyncSource" type="System.Configuration.NameValueSectionHandler" />
    <section name="SyncDestination" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
  <SyncSource>
    <add key="Type" value="WindowsFileRepository" />
    <add key="BasePath" value="D:\CodeProject\SyncFile\temp2" />    
  </SyncSource>

  <SyncDestination>
    <add key="Type" value="TrelloFileRepository" />
    <add key="Key" value="462b6807022439549ae0f3a542bb62d5" />
    <add key="Token" value="92dd852d5fb03f75b16aabb90234180ef226a990bbee6daacbdfa419ad958c92" />
    <add key="List" value="5b2e082f07e0a09b15a9e095" />
  </SyncDestination>
  
</configuration>